/* Navbar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    
    color: #00000000;
}
.navbar-container {
    background-color: rgb(0, 0, 0); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 40px;
    margin-right: 10px;
}
.logo span {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.logo span.orange {
    color: #16a7cb;
}
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    position: relative;
}
.nav-links a:hover {
    color: #16a7cb;
}
.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #16a7cb;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-links a:hover::after {
    transform: scaleX(1);


    /* Search Icon */
}
.search-icon {
    width: 10px;
    height: 10px;
    transition: transform 0.3s ease-in-out; /* add transition effect */
}
.search-icon:hover {
    color: #16a7cb;
    transform: scale(1.2); 
}

/* ABOUT US */
.aboutus{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('img/dealer4.jpg') no-repeat center center/cover;
    background-size: 100%;
}

.aboutus::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top,black, rgba(0, 0, 0, 0.744), transparent);
    z-index: 0; 
}

.abotusawal{
    text-align: left;
    margin: 0;
    width: 400px;
    height: auto;
    margin-left: 3cm;
    color: #ffffff;
    
}
.introduksi{
    margin-left: 26cm;
    height: auto;
    width: 400px;
    color: #ffffff;
    position: relative; /* Atur posisi agar z-index berfungsi */
    z-index: 1; /* Pastikan ini lebih tinggi dari z-index gradient */
}


.abotusbwh {
    text-align: left;
    margin: 3cm;
    width: 100%;
    height: 30px;
    margin-left: 1cm;
    color: #ffffff;
    position: relative; /* Atur posisi agar z-index berfungsi */
    z-index: 1; /* Pastikan ini lebih tinggi dari z-index gradient */
}


/* Footer */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}
.container {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.column {
    width: 30%;
}
.column h2 {
    color: #16a7cb;
}
.column h3 {
    color: #16a7cb;
    margin-top: 20px;
}
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}


