/* Navbar */
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 2000px;
}

.container {
    background-color: black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.logo span.orange {
    color: #16a7cb;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    position: relative;
}

.nav-links a:hover {
    color: #16a7cb;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #16a7cb;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

/* Search icon */
.search-icon {
    width: 10px;
    height: 10px;
    transition: transform 0.3s ease-in-out; /* add transition effect */
  }
  
  .search-icon:hover {
    color: #16a7cb;
    transform: scale(1.2); 
  }

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('img/lamb.jpg') no-repeat center center/cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero .overlay::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, black, transparent);
    z-index: 0; 
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    position: relative; 
    z-index: 1; 
}

.subtitle {
    font-size: 24px;
    margin: 10px 0;
    position: relative; 
    z-index: 1; 
}

.divider {
    width: 50px;
    height: 4px;
    background-color: #16a7cb;
    margin: 20px 0;
    position: relative; 
    z-index: 1; 
}

.description {
    font-size: 18px;
    max-width: 800px;
    position: relative; 
    z-index: 1; 
}

.inventory {
    margin: 30px;
   color: white;
   border: 1px solid white;
   padding: 0.5rem 1.5rem;
   font-size: 1.1rem;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 4px;
   width: fit-content;
   position: relative;
   isolation: isolate;
   transition: all 500ms;
}

.hero .inventory::before {
    content:'';
    background-color: rgb(255, 255, 255);
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 0;
   
}
.hero .inventory:hover{
    color: #16a7cb;

}
.hero .inventory:hover ::before{
    width: 100%;
}
/* Media Queries */

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

/* Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}


